<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ponto Digital</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="shortcut icon" href="imagens/logo2.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
<body>
    <nav>
            <div class="menu_icon">
                <i class="fas fa-bars"></i>
            </div>
            <a class="logo" href="#"><img src="imagens/logo2.png" alt="logo"></a>
            <div class="menu">
                <ul>
                    <li><a href="#titulos" class="scrollLink">Funcionalidades</a></li>
                    <!-- <li><a href="#como_funciona" class="scrollLink">Como Funciona</a></li> -->
                    <li><a href="#planos" class="scrollLink">Planos</a></li>
                    <li><a href="#quem_somos" class="scrollLink">Quem Somos</a></li>
                    <!-- <li>Tel:3675-5913</li> -->
                    <li><a href="#fale_conosco" class="scrollLink">Contato</a></li>
                    <li><a href="#" class="log">Login</a></li>
                </ul>
            </div>
        </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
