@{
    ViewData["Title"] = "Dashboard";
}
<h2>@ViewData["Title"]</h2>

<div id="divona">

    <div id="comentarios">
        <h2>Comentários</h2>
        <p>a</p>
    </div>

    <div id="usuarios">
        <h2>Usuários</h2>
        <p>a</p>
    </div>

</div>